.boxInput{
  display: flex;
  justify-content: center;
}
.input{
  width: 500px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #0D0D0D;
  background-color: #262626;
  padding: 16px
}
.button{
  background-color: #1E6F9F;
  border-radius: 8px;
  color: #F2F2F2;
}