@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
.boxInput{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -25px;
  width: 100%;
  gap: 8px;
}
.input{
  font-family: Inter;
  font-weight: 700;
  color: #D9D9D9;
  width: 500px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #0D0D0D;
  background-color: #262626;
  padding: 16px
}
.button{
  background-color: #1E6F9F;
  border-radius: 8px;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  color: #F2F2F2;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}